.entire_afe{
    background-color: #6de2de;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.afe_header{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    background: -webkit-linear-gradient(#E1CA00,#ffff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.afe_subheader{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.buttons_big{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    
}


.buttons_small{
    display: flex;
    flex-direction: column;
    width: 75%;
    position: absolute;
    bottom: 10px;
    right: 65px;
}

.entire_afe .buttons_big > div {
    margin: 35px;
    margin-top: 80px;
}