.animal-quiz {
    font-family: 'Rubik', sans-serif;
    text-align: center;
}

.question {
    font-weight: normal;
}

.TrueOrFalse {
    display: flex;
    margin-top: 25%;
    justify-content: space-around;
}