html {
    display: inline-flex;
    justify-content: center;
}


.entire_map{
    background-color: #6EE2DF;
    width: 325px;
    height: 812px;
    display: flex;
    flex-direction: column;
}

.button{
    bottom: 10px;
    left: 5px;
    position: relative;
    top: 90%;

}

.custom_button_box_small{
    width: 75px;
}

.map{
    position: relative;
    top: 40%;
}