.entire_map{
    background-color: #6de2de;
    width: 325px;
    height: 812px;
    position: absolute;
}

.button{
    bottom: 10px;
    left: 5px;
    position: absolute;
}

.custom_button_box_small{
    width: 75px;
}

.map{
    position: relative;
    top: 40%;
}