/* 
.america{
   width: 25%;
   position: absolute;
   left: 2%;
   top: 80%;
   cursor: pointer;
}
.asia{
    width: 40%;
    position: absolute;
    left: 170px;
    top: 44px;
    cursor: pointer;
}
.africa{
    width: 23%;
    position: absolute;
    left: 80%;
    top: 80%;
    cursor: pointer;
}
.australia{
    width: 23%;
    position: absolute;
    left: 220px;
    top: 145px;
    cursor: pointer;
}
.gray1{
    width: 9%;
    position: absolute;
    left: 30%;
}
.gray2{
    width: 60%;
    position: absolute;
    left: 122px;
}

.america:hover{
    width: 28%;
}

.asia:hover{
    width: 43%;
}

.africa:hover{
    width: 26%;
}

.australia:hover{
    width: 26%;
} */