.entire_loeas{
    background-color: #6de2de;
    width: 325px;
    height: 812px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.loeas_header{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    font-size: 72px;
    background: -webkit-linear-gradient(#DB4242,#ffff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.buttons_big{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}


.buttons_small{
    display: flex;
    flex-direction: column;
    width: 75%;
    position: absolute;
    bottom: 10px;
    right: 65px;   
}

.entire_loeas .buttons_big > div {
    margin:25px;
    margin-top: 50px;
}
