.custom_button_box-special {
    border-radius: 25px;
    padding-bottom: 10px;
    font-size: 20pt;
    font-size: 13pt;
    
    border: 5px solid #707070;
    color: #707070;
    cursor: pointer;
    box-shadow: 3px 3px 6px black;
    margin: 5px;
}

.custom_button_box:active{
    background-color: "#FFF";
}

.custom_button_box_inner::selection {
    background: none;
    color: none;
}

.custom_button_box_inner-special {
    font-family: 'Rubik', sans-serif;
    text-align: center;
}

#link {
    color: blue;
    font-size: 11pt;
}