.entire_auc{
    background-color: #6de2de;
    width: 325px;
    height: 812px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.auc_header{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    background: -webkit-linear-gradient(#275CE2,#ffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.auc_subheader{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.buttons_big{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    
}


.buttons_small{
    display: flex;
    flex-direction: column;
    width: 75%;
    position: absolute;
    bottom: 10px;
    right: 65px;
}

.entire_auc .buttons_big > div {
    margin: 35px;
    margin-top: 80px;
}