.menu_buttons{
    width: 65%;
    height: 100vh;
    background-color: rgba(255, 255, 255, .85);
    border-right: 4px solid gray;
    /* opacity: 85%; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    left: -100%;
    transition: left 0.5s;
    z-index: 1;
}

.menu_icon{
    padding: 5px;
    position: absolute;
    left: 0;
    transition: left 0.5s;
}

.entire_menu{
    display: flex;
}

/* .custom_button_box{
    display: block;
    align-items: center;
    justify-content: center;
} */

/* .custom_button_box_inner{
    font-size: 25px;
} */

.but{
    width: 100%;
}