.menu_buttons{
    width: 200px;
    height: 100vh;
    background-color: rgba(255, 255, 255, .85);
    border-right: 4px solid gray;
    /* opacity: 85%; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    left: 0;
}

.menu_icon{
    padding: 5px;
    position: relative;
    left: 0px;
}

.entire_menu{
    width: 325px;
    display: flex;
    background-color: lightblue;
    left: 0;
}

.custom_button_box{
    width: 50%;
    height:25px;
    display: block;
    align-items: center;
    justify-content: center;
}

.custom_button_box_inner{
    font-size: 25px;
}