.entire_home{
    background-color: #ef9b20;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -8px;
}

.anipalslogo{
    height:300px;
    width: auto;
    margin: 30px;
}

.buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
}

.custom_button_box{
    margin-bottom: 40px;
    margin: 30px;
}

.welcomeheader{
    display: flex;
}